{% extends 'base.html' %}
{% block title %}Редактировать профиль{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header">
      Редактировать профиль
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="form-group row my-3">
          <label for="id_first_name">Имя</label>
          <input type="text" class="form-control" name="first_name" id="id_first_name" value="{{ user.first_name }}">
        </div>
        <div class="form-group row my-3">
          <label for="id_last_name">Фамилия</label>
          <input type="text" class="form-control" name="last_name" id="id_last_name" value="{{ user.last_name }}">
        </div>
        <div class="form-group row my-3">
          <label for="id_username">Имя пользователя</label>
          <input type="text" class="form-control" name="username" id="id_username" value="{{ user.username }}">
        </div>
        <div class="form-group row my-3">
          <label for="id_email">Email</label>
          <input type="email" class="form-control" name="email" id="id_email" value="{{ user.email }}">
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

